.header {
  background: linear-gradient(90deg, #05030e, #024c63);
  padding: 40px 20px;
  text-align: center;
  color: #fff;
  border-radius: 12px;
}

.header h1 {
  font-size: 2.2rem;
  margin: 0 0 10px 0;
}

.header p {
  font-size: 1.1rem;
  font-weight: 500;
}