.navbar {
  background: rgba(219, 219, 219, 0.05);
  padding: 12px 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar li a {
  text-decoration: none;
  font-weight: 600;
  color: #d0d30f;
  transition: color 0.3s;
}

.navbar li a:hover {
  color: #b18424;
}