#skills {
  text-align: center;
  padding: 60px 0;
  color: rgb(163, 196, 228);
}

.carousel-wrapper {
  width: 350px;
  height: 350px;
  margin: auto;
  position: relative;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}

.skill-logo {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: -120px 0; /* circular distance */
}

.skill-logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.skill-logo span {
  display: block;
  font-size: 12px;
  margin-top: 5px;
  color: #ee8989;
}